<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>"></script>
    <script src="/script.js" defer></script>
</head>
<body>

    <span data-orderId="<% orderId %> "><% orderId %></span>
    <span data-username="<% username %> "><% username %></span>
    <span data-email="<% email %> "><% email %></span>
    <span data-produce="<% produce %> "><% produce %></span>
    <span data-quantity="<% quantity %> "><% quantity %></span>
    <span data-price="<% price %> "><% price %></span>
    <input type="number" id="amount">
    <div id="paypal"></div>
</body>
</html>